
p {
font-family: Arial, serif;
font-size: 25px;
letter-spacing: 2px;
word-spacing: 2px;
font-weight: 500;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;
color: white;
}

/* #about{
  top:-300px
  animation-fill-mode: forwards;
  animation-duration: 0.8s;
}

#p1 {
  left: -800px;
  animation-delay: .4s;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}



#p2 {
  left: -800px;
  animation-delay: .7s;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}



#keylerpic {
  right: -1000px;
  animation-delay: .4s;
  animation-fill-mode: forwards;
  animation-duration: 1.2s;


}

#keylerpic2 {
  bottom: -800px;
  animation-delay: .4s;
  animation-fill-mode: forwards;
  animation-duration: 1.6s;


} */
