
#pic1 {
  right: -1000px;
  animation-delay: .4s;
  animation-fill-mode: forwards;
  animation-duration: 1.2s;


}

#pic2 {
  left: -1000px;
  animation-delay: 1.4s;
  animation-fill-mode: forwards;
  animation-duration: 1.2s;

}

#pic3 {
  right: -1000px;
  animation-delay: 2.4s;
  animation-fill-mode: forwards;
  animation-duration: 1.2s;

}

#pic4 {
  left: -1000px;
  animation-delay: 2.8s;
  animation-fill-mode: forwards;
  animation-duration: 1.2s;

}

#pic6 {
  right: -1000px;
  animation-delay: 4s;
  animation-fill-mode: forwards;
  animation-duration: 1.2s;

}

#pic7 {
  left: -1000px;
  animation-delay: 5s;
  animation-fill-mode: forwards;
  animation-duration: 1.2s;

}

#pic8 {
  right: -1000px;
  animation-delay: 6s;
  animation-fill-mode: forwards;
  animation-duration: 1.2s;

}

#pic9 {
  left: -1000px;
  animation-delay: 7s;
  animation-fill-mode: forwards;
  animation-duration: 1.2s;

}

#pic10 {
  right: -1000px;
  animation-delay: 8s;
  animation-fill-mode: forwards;
  animation-duration: 1.2s;

}

#pic11 {
  left: -1000px;
  animation-delay: 9s;
  animation-fill-mode: forwards;
  animation-duration: 1.2s;

}

#pic13 {
  right: -1000px;
  animation-delay: 10s;
  animation-fill-mode: forwards;
  animation-duration: 1.2s;

}

#pic14 {
  left: -1000px;
  animation-delay: 11s;
  animation-fill-mode: forwards;
  animation-duration: 1.2s;

}

#pic15 {
  right: -1000px;
  animation-delay: 12s;
  animation-fill-mode: forwards;
  animation-duration: 1.2s;

}

#pic16 {
  left: -1000px;
  animation-delay: 13s;
  animation-fill-mode: forwards;
  animation-duration: 1.2s;

}

#pic19 {
  right: -1000px;
  animation-delay: 14s;
  animation-fill-mode: forwards;
  animation-duration: 1.2s;

}

#pic20 {
  left: -1000px;
  animation-delay: 15s;
  animation-fill-mode: forwards;
  animation-duration: 1.2s;

}

#pic21 {
  right: -1000px;
  animation-delay: 16s;
  animation-fill-mode: forwards;
  animation-duration: 1.2s;

}

#pic22 {
  left: -1000px;
  animation-delay: 17s;
  animation-fill-mode: forwards;
  animation-duration: 1.2s;

}
